.forgotDiv {
  color: blue;
  margin-bottom: 1.4em;
  margin-top: 0.5em;
}
.forgotText {
  font-size: 1.1em;
  font-weight: 100;
}
.closeButton {
  position: absolute !important;
  top: 0em !important;
  right: 0em !important;
  width: 2em !important;
  height: 4em !important;
  padding: 0em !important;
  margin: 0 !important;
}
.modalAction {
  margin: 0em !important;
}
.header {
  min-height: 0 !important;
}
.loginDiv {
  padding-right: 1em !important;
}
.Menu {
  width: 100% !important;
  min-height: 42 !important;
  background-color: white !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 0rem !important;
}
.loginButton {
  background-color: black !important;
  color: white !important;
  font-size: 1.4em !important;
}
.menuItem {
  padding: 0.5rem !important;
}
.modal {
  position: absolute !important;
  float: left !important;
  left: 50% !important;
  top: 65% !important;
  transform: translate(-50%, -50%) !important;
  padding: 1em !important;
}
.loginContent {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding-bottom: 0 !important;
  padding: 2em 2.5em 0.5em !important;
}
.modalHeader {
  display: flex !important;
  justify-content: center !important;
  color: #25ff03 !important;
  font-size: 2rem !important;
  background-color: white !important;
  border-bottom: none !important;
  padding: 0 !important;
  padding-top: 0.6em !important;
}
.headerText {
  font-size: 2.4em !important;
}
.modalButton {
  background-color: #25ff03 !important;
  color: white !important;
}

.dynamicSegment {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  width: 100% !important;
  margin-top: 0em !important;
}
.formSegment {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.divider {
  margin-top: 0.5em !important;
  font-size: 1.5em !important;
}
.facebookButton {
  box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.4) !important;
  background-color: #3b5998 !important;
  width: 100% !important;
  height: 4.6em !important;
  justify-content: flex-start !important;
}
.facebookIcon {
  color: white !important;
  margin-left: 0.3em !important;
  width: 1.2em !important;
  height: 1.2em !important;
}
.facebookTextDiv {
  display: flex !important;
  justify-content: center !important;
  flex-grow: 1 !important;
}
.facebookText {
  color: white !important;
  margin: 0em !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
}
.googleButton {
  box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.4) !important;
  background-color: #d44638 !important;
  width: 100% !important;
  height: 4.6em !important;
  justify-content: flex-start !important;
  margin-top: 0.7em !important;
}
.googleIcon {
  color: white !important;
  margin-left: 0.3em !important;
  width: 1.5em !important;
  height: 1.5em !important;
}
.googleTextDiv {
  display: flex !important;
  justify-content: center !important;
  flex-grow: 1 !important;
}
.googleText {
  color: white !important;
  margin: 0em !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
}
.signupDiv {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-grow: 1 !important;
  align-items: center !important;
  width: 100% !important;
  margin-bottom: 1em;
  margin-top: 1em;
}
.signupText {
  font-size: 1.2em !important;
  margin: 0 !important;
}
.signupButton {
  width: 6.5em !important;
  height: 3em !important;
  background-color: white !important;
  border: 2px solid black !important;
  border-radius: 0 !important;
  padding: 3px 4px !important;
  font-weight: bold !important;
  font-size: 1.1em !important;
}
