.grid {
  padding: 1em 0.5em;
  width: 100%;
}
.pipelineSegment {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 0;
}
.headerSegment {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 1em 0;
}
.header {
  margin-bottom: 0.25em;
}
.subHeader {
  margin-top: 0em;
}
.breadrow {
  padding-top: 0;
}
.buttonSegment {
  box-shadow: none;
  display: flex;
  padding: 0;
  width: 100%;
  margin: 0;
  border: 2px solid #20ad1d;
  margin-bottom: 1em;
  height: 7em;
}
.buttonComponent {
}
