.grid {
  padding: 1em 0.5em;
  width: 100%;
  margin: 0;
}
.breadRow {
  padding: 0;
  width: 100%;
}
.formRow {
  padding: 0;
  margin-top: 2em;
}
.formSegment {
  background-color: #f2f0ee;
  box-shadow: 0px 10px 10px -10px rgba(0;0;0;0.4);
}
.dynamicSegment {
  border: none;
  box-shadow: none;
  padding: 0;
}
.breadrow {
  padding-top: 0;
}
