.grid {
  padding: 1em 0.5em;
  width: 100%;
  margin: 0;
}
.headerRow {
  padding-top: 5em;
}
.header {
  font-size: 2em;
  margin-top: 0.5em;
}
.buttonRow {
  margin-top: 3em;
}
.button {
  background-color: #20ad1d;
  font-size: 1.5em;
  color: white;
  box-shadow: 0px 10px 10px -10px rgba(0;0;0;0.4);
}
