.form-input-label {
  font-family: "Ubuntu", sans-serif;
  color: #9c9c9c;
  font-size: 12px; }
  .form-input-label--selected {
    color: #8eb845; }

.form-input {
  width: inherit;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #9c9c9c;
  height: 20px;
  outline: none;
  color: #9c9c9c;
  padding-left: 5px; }
  .form-input--selected {
    border-color: #8eb845;
    color: #8eb845; }
