.Menu {
  width: 100% !important;
  min-height: 6em !important;
  background-color: black !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.loginButton {
  background-color: black !important;
  color: white !important;
  font-size: 1.4em !important;
}
.signupButton {
  width: 6.5em !important;
  height: 3em !important;
  background-color: #20ad1d !important;
  border-radius: 0 !important;
  padding: 3px 4px !important;
  color: white !important;
  font-size: 1.1em !important;
}
.leftMenuDiv {
  display: flex !important;
  align-items: center !important;
}
.rightMenuDiv {
  display: flex !important;
}
.homeIcon {
  font-size: 2.5em !important;
  color: #25ff03 !important;
}
.userIcon {
  font-size: 1.8em !important;
  margin-top: 0.5em !important;
  margin-right: 0.8em !important;
}
.logoutButton {
  background-color: #1205ff !important;
  color: white !important;
  margin-right: 0.5em !important;
  padding: 0.7em !important;
}
