.forgotDiv {
}
.forgotText {
}
.closeButton {
}
.closeIcon {
}
.modalAction {
}
.Dialog {
}
.header {
}
.loginDiv {
}
.Menu {
}
.registerButton {
  background-color: black !important;
  color: white !important;
  font-size: 1.4em !important;
}
.menuItem {
}
.modal {
}
.loginContent {
}
.modalHeader {
}
.headerText {
}
.modalButton {
}

.dynamicSegment {
}
.formSegment {
}
.signupDiv {
}
.signupText {
}
.signupButton {
}
