.registerButton {
  background-color: black !important;
  color: white !important;
  font-size: 1.4em !important;
}
.form {
  display: flex !important;
  flex-direction: column !important;
}
.fieldRow {
  display: flex !important;
}
.fieldColumn {
  width: 100% !important;
}
